{% extends "sites/base.html" %}

{% block container %}
<h1>Summary</h1>

{% for button in buttons %}
  {% if button.active %}
<a href="{{button.href}}"><button type="button" class="btn btn-primary active">{{button.name}}</button></a>
  {% else %}
<a href="{{button.href}}"><button type="button" class="btn btn-primary">{{button.name}}</button></a>
  {% endif %}
{% endfor %}

<table class="table">
    <thead>
        <tr>
            <td><strong>Site</strong></td>
            <td><strong>A Value</strong></td><td><strong>B Value</strong></td>
        </tr>
    </thead>

  {% for line in lines %}
        <tr>
            <td>{{line.name}}</td>
            <td>{{line.values_a}}</td>
            <td>{{line.values_b}}</td>
        </tr>
  {% endfor %}

</table>
{% endblock %}
